<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let object of userProducts">
            <img src={{object.product.url}} alt="">
            <div class="cart-item-details">
                <p><strong>{{object.product.name}}</strong></p>
                <p>${{object.product.price}}</p>
                <p>Amount </p>
                <input type="number" name="" id="" class="number-input" value={{object.quantity}}
                    [(ngModel)]="object.quantity" (ngModelChange)="quantityChanged($event, object)">
            </div>
        </div>
        <h1>Total: ${{totalPrice}}</h1>
    </div>
    <div class="cart-panel form-margin">
        <app-user-form (addOrder)="addOrder($event)"></app-user-form>
    </div>
</div>