<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let product of userProducts">
            <img src={{product.url}} alt="">
            <div class="cart-item-details">
                <p><strong>{{product.name}}</strong></p>
                <p>${{product.price}}</p>
                <p>Amount </p>
                <input type="number" name="" id="" class="number-input">
            </div>
        </div>
    </div>
    <div class="cart-panel form-margin">
        <p>test</p>
    </div>
</div>