.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #33b5e5;
  color: #fff;
  padding: 12px;
  padding-left: 40%;
  padding-right: 40%;
}

a {
  color: #ffffff;
}
